<ion-header>
  <ion-toolbar color="secondary" >
    <ion-title>BEasy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Business Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="name" placeholder="Enter Shop/business name"></ion-input>
    </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
  <center><ion-button  href="/"  type="submit" class="ion-no-margin">Get Started</ion-button></center>  
  </ion-toolbar>
</ion-footer>
